# Compiled Sources
###################
*.o
*.map
*.hex
*.dis
#*.exe

# Packages 
############

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directory
######################
build/*

# Python cache files
######################
__pycache__/
*.pyc


test/

backup.sh
